/* GLOBAL */
.container, .footer-container,
.noticias-top-container,
.noticias-middle-container,
.volver-container,
.lists-title-container, .sections-container, .hero .hero-content, .cards-section .cards-container, .faqs-section h2, .faqs-section .faqs-container .faq-item .faq-item-content {
  width: 87.17%;
  max-width: 113.6rem;
  margin: 0 auto; }

.pointer {
  cursor: pointer; }

/* BUTTON AS IN HEADER (To be used along with .primary or other classes */
.button {
  display: inline-block;
  margin: 0;
  border-radius: 2.3rem;
  font-weight: 700;
  font-size: 1.6rem;
  width: fit-content;
  outline: none;
  text-align: center;
  padding: .945rem 1.5rem;
  width: 100%;
  border: 2px solid #24378F;
  font-family: "Raleway", sans-serif;
  line-height: 21.13px;
  letter-spacing: .5px;
  transition: all 150ms ease-in-out;
  text-transform: uppercase; }
  .button:hover {
    box-shadow: 0px 0px 4px #24378F; }
  .button.primary {
    text-transform: uppercase;
    background-color: #24378F;
    color: #ffffff; }
  .button.secondary {
    font-size: 1.8rem;
    background-color: transparent;
    color: #24378F;
    border: 2px solid #24378F; }
  .button.tertiary {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #24378F; }

.vert-center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.badge {
  border-radius: 4.4rem;
  background-color: #B3B3B3;
  font-family: "Roboto", sans-serif; }
  .badge.badge-text-color {
    background-color: #263057;
    color: #ffffff; }

.badges-container {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .badges-container .badge {
    padding: .1rem .7rem;
    border-radius: 4.4rem;
    margin-right: .4rem;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem; }
    .badges-container .badge.badge-erreius {
      background: #822D5E; }
    .badges-container .badge.badge-errepar {
      background: #00A88F; }
    .badges-container .badge.badge-doctrina {
      background: #263057; }
    .badges-container .badge.badge-penal {
      background: #24378F; }
    .badges-container .badge.badge-chaco {
      background: #263057; }

.call-to-action {
  padding: 1.6rem;
  border-radius: 0.8rem;
  margin-bottom: 3.1rem; }
  .call-to-action p, .call-to-action a, .call-to-action h2 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    color: #ffffff;
    text-align: start; }
  .call-to-action a {
    display: block;
    width: 100%;
    margin: 1.6rem 0 0 0; }
  .call-to-action:hover {
    box-shadow: 0px 0px 8px 0px #24378F99; }

.rating-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem 1.6rem; }
  .rating-cta h2 {
    text-align: center; }

.bg-deg-erreius {
  background: linear-gradient(to right, #822D5E, #24378F); }

.bg-deg-frio {
  background: linear-gradient(to right, #00A88F, #24378F); }

.ws-nw {
  white-space: nowrap; }

@media only screen and (min-width: 768px) {
  .container, .footer-container,
  .noticias-top-container,
  .noticias-middle-container,
  .volver-container,
  .lists-title-container, .sections-container, .hero .hero-content, .cards-section .cards-container, .faqs-section h2, .faqs-section .faqs-container .faq-item .faq-item-content {
    max-width: 78.9%; }
  .call-to-action a {
    width: fit-content;
    margin: 4.4rem 0 0 auto; }
  .rating-cta {
    padding: 3.2rem .5rem; }
  .button {
    font-size: 1.8rem;
    width: 17.6rem; } }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

/* Global styles */
html,
body {
  padding: 0;
  margin: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #263057;
  font-weight: bold;
  max-width: 100vw;
  overflow-x: hidden; }
  body.sidebar-opened {
    overflow: hidden; }

p {
  font-weight: 400;
  line-height: 2rem; }

a {
  text-decoration: none !important; }

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 2rem; }

@media only screen and (min-width: 768px) {
  body {
    max-width: unset;
    overflow-x: visible; }
  h1 {
    font-size: 3.2rem; }
  h2 {
    font-size: 2.4rem; }
  h3 {
    font-size: 2rem; } }

/* LOGO */
i.logo {
  content: url(../assets/icons/logo.svg);
  width: 9.6rem; }
  @media only screen and (min-width: 768px) {
    i.logo {
      width: 14.2rem; }
      i.logo.logo-footer {
        width: 16rem; } }

/* HAMBURGUER menu */
i.hamburguer {
  content: url(../assets/icons/hamburguer.svg); }

/* SEARCH ICON (buscar) */
i.buscar-icon {
  content: url(../assets/icons/buscar.svg); }

/* Grid icon */
i.grid-icon {
  content: url(../assets/icons/grid.svg); }

/* Vertical divisor */
i.vertical-line {
  content: url(../assets/icons/vertical-line.svg); }

/* Mobile icon for login */
i.login-mobile-icon {
  content: url(../assets/icons/login-mobile.svg); }

/* TEMPORARILY TOOLBAR */
i.toolbar {
  content: url(../assets/icons/toolbar-placeholder-mobile.svg); }
  @media only screen and (min-width: 768px) {
    i.toolbar {
      content: url(../assets/icons/toolbar-placeholder.svg); } }

/* TEMPORARILY RATING STARS */
i.rating-stars {
  content: url(../assets/icons/rating-stars.svg); }

i.rating-stars-call-to-action {
  content: url(../assets/icons/rating-stars-call-to-action.svg); }

/* Search word icon */
i.buscar-palabra-icon {
  content: url(../assets/icons/buscar-palabra.svg); }

/* Share icon */
i.compartir {
  content: url(../assets/icons/compartir.svg); }

/*############### ARROWS #############*/
/* Volver arrow */
i.volver-arrow {
  content: url(../assets/icons/volver-arrow.svg); }

/* Dropdown icon */
i.dropdown-arrow {
  content: url(../assets/icons/dropdown-arrow.svg); }

i.arrow-left {
  content: url(../assets/icons/arrow-left.svg); }

i.arrow-right {
  content: url(../assets/icons/arrow-right.svg); }

/* Cross close icon */
i.close-icon {
  content: url(../assets/icons/close.svg); }

/* DESTACADO ICON */
i.destacado-icon {
  content: url(../assets/icons/destacado-unchecked.svg);
  /* To show the checked star, both classes need to be present in the <i> element */ }
  i.destacado-icon.checked {
    content: url(../assets/icons/destacado-checked.svg); }

/* COPS */
i.logo-cops {
  content: url(../assets/icons/logo-cops.svg); }

/* ISOLOGOTYPES */
i.iso-errepar {
  content: url(../assets/icons/iso-errepar.svg); }

i.iso-erreius {
  content: url(../assets/icons/iso-erreius.svg); }

@media only screen and (min-width: 768px) {
  i.iso-errepar.medium, i.iso-erreius.medium {
    width: 4.4rem; } }

/* Support icon */
i.support-icon {
  content: url(../assets/icons/contact-support.svg); }

/*********** SOCIAL MEDIA ICONS **********************/
.facebook-icon-green {
  content: url(../assets/icons/green-facebook-icon.svg); }

.twitter-icon-green {
  content: url(../assets/icons/green-twitter-icon.svg); }

.linkedin-icon-green {
  content: url(../assets/icons/green-linkedin-icon.svg); }

.youtube-icon-green {
  content: url(../assets/icons/green-youtube-icon.svg); }

.instagram-icon-green {
  content: url(../assets/icons/green-instagram-icon.svg); }

.soundcloud-icon-green {
  content: url(../assets/icons/green-soundcloud-icon.svg); }

.spotify-icon-green {
  content: url(../assets/icons/green-spotify-icon.svg); }

.facebook-icon-bordo {
  content: url(../assets/icons/bordo-facebook-icon.svg); }

.twitter-icon-bordo {
  content: url(../assets/icons/bordo-twitter-icon.svg); }

.linkedin-icon-bordo {
  content: url(../assets/icons/bordo-linkedin-icon.svg); }

.youtube-icon-bordo {
  content: url(../assets/icons/bordo-youtube-icon.svg); }

.instagram-icon-bordo {
  content: url(../assets/icons/bordo-instagram-icon.svg); }

.soundcloud-icon-bordo {
  content: url(../assets/icons/bordo-soundcloud-icon.svg); }

.spotify-icon-bordo {
  content: url(../assets/icons/bordo-spotify-icon.svg); }

i.facebook-featured {
  content: url(../assets/icons/facebook-featured.svg); }

i.twitter-featured {
  content: url(../assets/icons/twitter-featured.svg); }

i.linkedin-featured {
  content: url(../assets/icons/linkedin-featured.svg); }

/* LAYOUT STYLES */
.sections-container {
  margin-top: 6.5rem; }

@media only screen and (min-width: 1200px) {
  .sections-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    gap: 1rem; } }

.contact-support {
  position: fixed;
  right: 1rem;
  bottom: 7.5rem;
  width: fit-content;
  z-index: 1; }

.hero {
  height: 25rem;
  width: 100%;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .hero .hero-content {
    height: 100%; }
    .hero .hero-content .cta {
      padding: 3.2rem 1.6rem;
      max-width: 100%;
      background-color: #ffffff;
      border-radius: 1.6rem; }
      .hero .hero-content .cta p {
        font-size: 1.4rem; }

@media only screen and (min-width: 768px) {
  .hero {
    height: 58rem; }
    .hero .hero-content {
      position: relative;
      padding-top: 0;
      width: 100%; }
      .hero .hero-content .cta {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 46.4rem;
        padding: 4.8rem 4.6rem; }
        .hero .hero-content .cta p {
          font-size: 1.6rem; } }

.main-hero {
  background-image: url(../assets/heros/main-hero.png);
  margin-bottom: 44.8rem; }
  .main-hero .hero-content {
    padding-top: 20rem; }
  .main-hero .cta-main i.logo-cops {
    margin-bottom: 2.4rem;
    max-width: 100%; }
  .main-hero .cta-main h1 {
    margin-bottom: 1.6rem;
    font-size: 3.2rem; }
  .main-hero .cta-main p {
    margin-bottom: 2.4rem; }
  .main-hero .cta-main .actions-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem; }

@media only screen and (min-width: 768px) {
  .main-hero {
    margin-bottom: 0; }
    .main-hero .cta-main p {
      margin-bottom: 3.2rem; }
    .main-hero .cta-main .actions-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      gap: 1rem; } }

.second-hero div.hero-content .cta {
  padding: 0; }
  .second-hero div.hero-content .cta h2 {
    font-size: 2.4rem; }
  .second-hero div.hero-content .cta p {
    margin: 1.6rem 0 2.4rem 0; }

.second-hero div.hero-content img.img-staff {
  display: none; }

@media only screen and (min-width: 768px) {
  .second-hero {
    max-height: 45vw; }
    .second-hero div.hero-content .cta {
      width: 46.3rem;
      max-width: 100%;
      z-index: 100;
      background-color: unset; }
      .second-hero div.hero-content .cta p {
        margin: 2.4rem 0 4.6rem 0; }
    .second-hero div.hero-content img.img-staff {
      display: block;
      max-width: 40vw;
      position: absolute;
      right: -10rem;
      bottom: 0; } }

@media only screen and (min-width: 1200px) {
  .second-hero {
    max-height: unset;
    height: 52.5rem; }
    .second-hero div.hero-content img.img-staff {
      right: 0;
      max-width: 100%; } }

.cards-section {
  background-color: #24378F; }
  .cards-section .cards-container {
    padding: 4.8rem 0;
    /* Styles for a individual card */ }
    .cards-section .cards-container .card {
      border-radius: 1.6rem;
      padding: 2.4rem 2rem;
      margin-bottom: 2.4rem;
      border: none;
      box-shadow: 0px 0px 4px rgba(36, 55, 143, 0.4); }
      .cards-section .cards-container .card h3 {
        line-height: 23.48px; }
      .cards-section .cards-container .card img {
        width: 8rem; }
      .cards-section .cards-container .card p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 1.6rem 0 2.4rem;
        font-feature-settings: 'pnum' on, 'lnum' on; }
      .cards-section .cards-container .card:last-of-type {
        margin-bottom: 0; }

@media only screen and (min-width: 1020px) {
  .cards-section {
    margin-bottom: 25.2rem;
    height: 19.9rem; }
    .cards-section .cards-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      padding: 4.5rem 0;
      /* Styles for a individual card */ }
      .cards-section .cards-container .card {
        position: relative;
        padding: 2.4rem 1.6rem;
        margin-bottom: 0;
        flex-basis: 33.33%;
        height: 35.8rem; }
        .cards-section .cards-container .card p {
          line-height: 2rem;
          margin: 1.6rem 0 2.4rem;
          font-feature-settings: 'pnum' on, 'lnum' on; }
        .cards-section .cards-container .card a {
          position: absolute;
          bottom: 2.4rem;
          left: 1.6rem; } }

@media only screen and (min-width: 1200px) {
  .cards-section .cards-container {
    /* Styles for a individual card */
    gap: 1.6rem; }
    .cards-section .cards-container .card {
      height: 35.8rem; }
      .cards-section .cards-container .card p {
        font-size: 1.6rem; }
      .cards-section .cards-container .card a {
        width: 17.6rem; } }

.faqs-section {
  margin-top: 4.8rem; }
  .faqs-section h2 {
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.818rem;
    margin-bottom: 2.4rem; }
  .faqs-section .faqs-container .faq-item {
    border-bottom: 1px solid #B3B3B3; }
    .faqs-section .faqs-container .faq-item .faq-item-content {
      padding: 1.3rem 0 0;
      /* HIDE paragraph when collapsed */ }
      .faqs-section .faqs-container .faq-item .faq-item-content .faq-item--header {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .faqs-section .faqs-container .faq-item .faq-item-content .faq-item--header h3 {
          line-height: 2.348rem;
          margin: 0; }
        .faqs-section .faqs-container .faq-item .faq-item-content .faq-item--header i.dropdown-arrow {
          transition: transform 350ms ease; }
      .faqs-section .faqs-container .faq-item .faq-item-content .faq-item--body {
        margin-top: 1.6rem;
        transition: max-height 500ms linear;
        display: block;
        max-height: 0;
        overflow: hidden; }
        .faqs-section .faqs-container .faq-item .faq-item-content .faq-item--body > * {
          transition: opacity 500ms linear;
          opacity: 0; }
    .faqs-section .faqs-container .faq-item.faq-item--active .faq-item-content .faq-item--header i.dropdown-arrow {
      transform: rotate(180deg); }
    .faqs-section .faqs-container .faq-item.faq-item--active .faq-item-content .faq-item--body {
      max-height: 100rem; }
      .faqs-section .faqs-container .faq-item.faq-item--active .faq-item-content .faq-item--body > * {
        opacity: 1; }

@media only screen and (min-width: 768px) {
  .faqs-section .faqs-container .faq-item {
    padding: .9rem 0;
    width: 94.4rem;
    margin: 0 auto;
    max-width: 78.9%; }
    .faqs-section .faqs-container .faq-item .faq-item-content {
      width: 100%;
      display: contents;
      padding: 0; }
      .faqs-section .faqs-container .faq-item .faq-item-content .faq-item--header {
        width: 100%; }
      .faqs-section .faqs-container .faq-item .faq-item-content .faq-item--body {
        display: block;
        max-width: 65.6rem;
        margin: 0 auto; } }

.last-cta-section {
  background-color: #24378F;
  color: #ffffff;
  padding: 4.8rem 2.5rem; }
  .last-cta-section .last-cta-container .last-cta--left h2 {
    line-height: 37.57px;
    font-size: 3.2rem;
    margin-bottom: 2.4rem; }
  .last-cta-section .last-cta-container img {
    display: none; }

@media only screen and (min-width: 920px) {
  .last-cta-section {
    padding: 0; }
    .last-cta-section .last-cta-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.6rem;
      max-width: 78.9%;
      margin: 0 auto; }
      .last-cta-section .last-cta-container .last-cta--left h2 {
        line-height: 37.57px;
        font-size: 3.2rem;
        margin-bottom: 2.4rem; }
      .last-cta-section .last-cta-container img {
        display: block;
        width: 50%;
        margin-top: 5.6rem; } }
