.hero {
  height: 25rem;
  width: 100%;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  .hero-content {
    @extend .container;
    height: 100%;

    .cta {
      padding: 3.2rem 1.6rem;
      max-width: 100%;
      background-color: $blanco;
      border-radius: $ctaRadius;
      
      p {
        font-size: 1.4rem;
      }
    }

  }
}

@include desktop {
  .hero {
    height: 58rem;

    .hero-content {
      position: relative;
      padding-top: 0;
      .cta {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 46.4rem;
        padding: 4.8rem 4.6rem;

        p {
          font-size: $fontSize;
        }
      }
      width: 100%;
    }
  }

}